main-sidenav {
  display: block;
  min-width: 300px;
  --mat-list-list-item-one-line-container-height: var(--control-height);
  [mat-list-item] {
    &:before {
      --mat-list-list-item-hover-state-layer-color: var(--mat-sys-primary);
      transition: 0.2s;
    }
    &.active {
      .mdc-list-item__content .mdc-list-item__primary-text {
        color: var(--mat-sys-primary);
      }

      background-color: var(--mat-sys-secondary-container);
    }
  }
}
