.leave-container {
  border: 1px solid #dddddd;
  margin-top: 1em;
  padding: 20px 20px 0px 20px;
  font-weight: bold;
  font-size: 20px;

  /* Final state (Visible) */
  opacity: 1;
  transform: translateY(0);
  transition: 500ms ease-out;

  /* Entry state (Hidden -> Visible) */
  @starting-style {
    opacity: 0;
    transform: translateY(30px);
  }
}

/* Exit state (Visible -> Hidden) */
.leaving {
  opacity: 0;
  transform: translateY(30px);
}
