field-control-ex {
  display: block;
  width: fit-content;

  .error-placeholder {
    height: var(--field-error-height, 16px);
    margin-top: var(--field-error-mdt, 4px);
    margin-left: var(--field-error-mdl, 8px);
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  /* Keyframe cho animation phức tạp với nhiều bước */

  .message-helper {
    font-size: var(--field-error-text-size, 12px);
    line-height: calc(var(--field-error-text-size, 12px) + 2px);
    transition: var(--field-error-duration, 200ms) ease-out;

    &.error {
      color: var(--field-error-color, var(--color-red-500, #f44336));
    }
    &.warning {
      color: var(--field-warning-color, var(--color-orange-400, #ff8904ff));
    }

    /* Final state */
    opacity: 1;
    transform: translateY(0) scale(1);
    /*animation: ErrorABounceIn var(--field-error-duration, 300ms) ease-out;*/
    @starting-style {
      opacity: 0;
      transform: translateY(-100%) scale(0.8);
    }
  }

  /* Exit state */

  .leaving {
    opacity: 0;
    /*animation: ErrorASlideOut var(--field-error-duration, 300ms) ease-out forwards;*/
    transform: translateY(-100%) scale(0.8);
  }
}
